body {
	min-width: 300px;
	text-align: center;
	overflow-x: hidden;
	background-color: #9365B8;
	font-family: Lucida Sans Unicode;
	font-size:	11px;
	color: #EFEFEF;
}

#error {
  font-size: 14px;
  color: #FBA026;
  font-weight: bold;
	height: 14px;
}

#inputLength {
	width: 80px;
}

#properties {
	text-align: left;
	margin-left: 20px;
}

.key {
	vertical-align: super;
}

#calculatedLength {
	font-size:	13px;
	font-weight: bold;
}
